# Pre-commit hooks
repos:
  # Execute external scripts
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.22.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  # Execute local scripts
  - repo: local
    hooks:
      - id: run-formatters
        name: Run formatters
        entry: poetry poe formatters
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
        files: ^(app/|poetry.lock|run.py)
      - id: run-linters
        name: Run linters
        entry: poetry poe linters
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
        files: ^(app/|poetry.lock|run.py)
      - id: run-typings
        name: Run typings
        entry: poetry poe typings
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
        files: ^(app/|poetry.lock|run.py)
      - id: run-tests
        name: Run tests
        entry: poetry poe tests
        language: system
        pass_filenames: false
        stages: [pre-push]
        files: ^(app/|poetry.lock|run.py|tests/)
